<head>
<meta charset="utf-8">
<title>Untitled Page</title>
<link href="./login.component.css" rel="stylesheet">
</head>
<body>
<form [formGroup]="loginForm" (ngSubmit)="homePage()">
<label for="" id="lblUserName">UserName:</label>
<!--<label *ngIf="homePage()!=true">UserfName:</label>-->
<label for="" id="lblPassword">Password:</label>
<input type="text" id="txtUsername" formControlName="userName" name="Editbox1" value="" spellcheck="false">
<input type="text" id="txtPassword" formControlName="password" name="Editbox1" value="" spellcheck="false">
<input type="submit" id="btnSubmit" name="" value="Submit">
<label for="" id="lblFormTitle">Employee Login</label>
</form>
</body>