<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Page</title>
<link href="home.component.css" rel="stylesheet">
</head>
<body>
<a routerLink="/home">
<input type="button" id="btnHome" name="homeButton" value="Home" style="position:absolute;left:28px;top:38px;width:82px;height:34px;z-index:0;">
</a>
<a routerLink="/view">
<input type="button" id="btnView" name="viewButton" value="View" style="position:absolute;left:151px;top:38px;width:82px;height:34px;z-index:1;">
</a>
<a routerLink="/update">
<input type="button" id="btnUpdate" name="updateButton" value="Update" style="position:absolute;left:273px;top:38px;width:82px;height:34px;z-index:2;">
</a>
<a routerLink="/login">
<input type="button" id="btnDelete" name="logoutButton" value="Logout" style="position:absolute;left:403px;top:38px;width:82px;height:34px;z-index:3;">
</a>
<label for="" id="lblGreetings" style="position:absolute;left:28px;top:115px;width:197px;height:16px;line-height:16px;z-index:4;">Good Morning</label>
<label for="" id="lblUsername" style="position:absolute;left:28px;top:159px;width:197px;height:16px;line-height:16px;z-index:5;">Welcome, {{userName}}</label>
</body>
</html>